footer {
  height: 5vh;
  background: black;
  p {
      font-family: 'Tomorrow', sans-serif;
      font-size: 2rem;
      color: #a32a2e;
      text-align: center;
      margin: 0;
      padding: 0;
  }
}