body {
    background-image: url(../assets/backgroundImagel.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 70%;
}

header {
    background-color: rgba(0, 0, 0, 0.4);
    min-height: 95vh;
    .hero {
        background-color: rgba(0, 0, 0, 0.4);
        h1 {
            font-family: 'Tomorrow', sans-serif;
            font-size: 4.5rem;
            color: #a32a2e;
            text-align: center;
            margin: 0;
            padding: 100px;
        }
        form {
            fieldset {
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                border: none;
                label {
                    font-family: 'Tomorrow', sans-serif;
                    font-size: 3rem;
                    color: white;
                    padding-bottom: 20px;
                }
                #search,
                select, 
                input {
                    font-family: 'Tomorrow', sans-serif;
                    font-size: 2rem;
                    width: 40%;
                    border-radius: 10px;
                    margin-bottom: 20px;
                }
            }
        }
    };
    .results {  
        background-color: rgba(0, 0, 0, 0.4);
        p {
            font-family: 'Tomorrow', sans-serif;
            font-size: 3rem;
            color: white;
            margin: 0;
            padding: 50px 0;
        }
    };
}

footer {
    background: black;
    p {
        font-family: 'Tomorrow', sans-serif;
        font-size: 2rem;
        color: #a32a2e;
        text-align: center;
        margin: 0;
        padding: 9px;
    }
}