body {
    background-image: url(../assets/backgroundImagel.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 70%;
}

header {
    // background-color: rgba(0, 0, 0, 0.4);
    height: 20vh;
    h1 {
        display: inline-block;
        font-family: 'Tomorrow', sans-serif;
        font-size: 4.5rem;
        color: yellow;
        text-align: center;
        margin: 50px 0;
        position: relative;
        text-shadow: 0px 0px 2px white;
        &::before,
        &::after {
            content: '';
            position: absolute;
            top: 15px;
            display: block;
            height: 25px;
            width: 25px;
            background-color: blue;
            box-shadow: 0px 0px 5px white;
            border-radius: 50%;
        }
        &::before {
            left: -60px;
        }
        &::after {
            right: -60px;
        }
    }
}