.inputs {
  height: 75vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

form {
  width: 100%;
  fieldset {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    border: none;
    label {
      font-size: 3rem;
      color: $primeryColor;
      // padding: 20px 0;
    }
    #search,
    select, 
    input {
      font-size: 2rem;
      border-radius: 15px;
      &:focus {
        background: $secondaryPopColor;
        color: $primeryColor;
      }
    }
    .searchButton {
      display: flex;
      #search {
        padding-left: 4%;
      }
      button:nth-child(2) {
        font-size: 1.5rem;
        border-radius: 20px;
        margin-left: 5%;
        // padding: 0 25px;
        transition: 0.35s;
        background: $primeryColor;
        &:hover {
          color: $primeryColor;
          background: $primeryPopColor;
        }
      }
    }
    p {
      font-size: 2rem;
      font-style: italic;
      text-shadow: rgba(0, 0, 0, 0.4);
      text-align: center;
      color: $primeryColor;
      padding: 0 10%;
    }
    #route {
      width: 40%;
      padding-left: 2%;
    }
    #time {
      width: 20%;
      padding-left: 8%;
    }
  }
  fieldset:nth-child(1) > label:nth-child(3) {
    // padding: 40px;
  }
  fieldset:nth-child(1) > button:nth-child(5) {
    font-size: 1.5rem;
    border-radius: 20px;
    margin-top: 50px;
    padding: 10px 50px;
    transition: 0.35s;
    background: $primeryColor;
    &:hover {
      color: $primeryColor;
      background: $primeryPopColor;
    }
  }
}

.results {  
  display: flex;
  width: 100%;
  height: calc(100vh - 20px);
  text-align: center;
  flex-wrap: wrap;
  p:nth-child(1) {
    margin-top: 20%;
  }
  p {
    // font-family: 'Tomorrow', sans-serif;
    font-size: 3rem;
    color: $primeryColor;
    margin: 0;
    padding: 50px 0;
  }
  .departures,
  .arrivals {
    width: 50%;
  }
  .delays {
    width: 100%;
    p {
      margin: 0;
      padding: 0 20px;
    }
  }
  ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    list-style: none;
  }
  li {
    font-size: 2rem;
    color: $primeryColor;
    border-radius: 20px;
    background: $secondaryPopColor;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px 20px;
    width: 20%;
    transition: 0.3s;
    &:hover {
      color: $primeryColor;
      background: $primeryPopColor;
    }
  }
}
