// Font Colors
$primeryColor: #f2efe8;

// Header
$primeryHeaderColor: #f5ff3a;
$secondaryHeaderColor: #084ad8;

// Pop Color
$primeryPopColor: #990000;
$secondaryPopColor: #596157;
$thirdPopColor: lighgrey;
