html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0 auto;
  font-family: 'Tomorrow', sans-serif;
}

.wrapper {
  max-width: 1080px;
  width: 80%;
  height: 100%;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

img {
  max-width: 100%;
  display: block;
}

/* Skip-line for accessibility */
.skipLink {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: black;
  color: black;
}

.skipLink:focus {
  left: 0;
}

/* - */
body {
  background-image: url(../assets/backgroundImagel.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 100% 70%;
  background-color: rgba(0, 0, 0, 0.5);
}

header {
  height: 20vh;
}

header h1 {
  display: inline-block;
  font-size: 4.5rem;
  color: yellow;
  text-align: center;
  text-shadow: 0px 0px 2px white;
  margin: 50px 0;
  position: relative;
}

header h1::before, header h1::after {
  content: '';
  position: absolute;
  top: 15px;
  display: block;
  height: 25px;
  width: 25px;
  background-color: blue;
  -webkit-box-shadow: 0px 0px 5px white;
          box-shadow: 0px 0px 5px white;
  border-radius: 50%;
}

header h1::before {
  left: -80px;
}

header h1::after {
  right: -60px;
}

.inputs {
  height: 75vh;
  width: 100%;
}

form {
  width: 100%;
}

form fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
}

form fieldset label {
  font-size: 3rem;
  color: white;
  padding: 20px;
}

form fieldset #search,
form fieldset select,
form fieldset input {
  font-size: 2rem;
  border-radius: 15px;
}

form fieldset #search:focus,
form fieldset select:focus,
form fieldset input:focus {
  background: yellow;
}

form fieldset .searchButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

form fieldset .searchButton #search {
  padding-left: 4%;
}

form fieldset .searchButton button:nth-child(2) {
  font-size: 1.5rem;
  border-radius: 20px;
  margin-left: 5%;
  padding: 0 25px;
  -webkit-transition: 0.35s;
  transition: 0.35s;
}

form fieldset .searchButton button:nth-child(2):hover {
  color: yellow;
  background: blue;
}

form fieldset p {
  font-size: 2rem;
  font-style: italic;
  text-shadow: rgba(0, 0, 0, 0.4);
  text-align: center;
  color: white;
  padding: 0 10%;
}

form fieldset #route {
  width: 40%;
  padding-left: 2%;
}

form fieldset #time {
  width: 20%;
  padding-left: 8%;
}

form fieldset:nth-child(1) > label:nth-child(3) {
  padding: 40px;
}

form fieldset:nth-child(1) > button:nth-child(5) {
  font-size: 1.5rem;
  border-radius: 20px;
  margin-top: 50px;
  padding: 10px 50px;
  -webkit-transition: 0.35s;
  transition: 0.35s;
}

form fieldset:nth-child(1) > button:nth-child(5):hover {
  color: yellow;
  background: blue;
}

.results {
  width: 100%;
  height: calc(100vh - 20px);
  text-align: center;
}

.results p:nth-child(1) {
  margin-top: 20%;
}

.results p {
  font-size: 3rem;
  color: white;
  margin: 0;
  padding: 50px 0;
}

.results ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style: none;
}

.results li {
  font-size: 2rem;
  color: white;
  border-radius: 20px;
  background: grey;
  padding: 10px 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.results li:hover {
  color: black;
  background: white;
}

footer {
  height: 5vh;
  background: black;
}

footer p {
  font-family: 'Tomorrow', sans-serif;
  font-size: 2rem;
  color: #a32a2e;
  text-align: center;
  margin: 0;
  padding: 0;
}
/*# sourceMappingURL=styles.css.map */